<div class="interactive-head"><%= headline %></div>
<div class="interactive-intro"><%= intro %></div>
<div class='interactive-body'>
	<div class="legend"></div>
	<div class='button-group'>
		<ul class='button-change'>
			<li class='first button active'>List</li>
			<li class='second button'>Map</li>		
		</ul>
	</div>
	<div class='map'></div>
	<div class='smallstates smallblocks'></div>
	<div class='container'></div>
	<div class='summary'>
	</div>
	<div class="interactive-source">Source: <a target="_blank" href='<%= sourcelink %>'><%= source %></a></div>
</div>