<div class="interactive-head"><%= headline %></div>
<div class="interactive-intro"><%= intro %></div>
<div class='interactive-body'>
	<div id="legend"></div>
	<div class='button-group'>
		<ul>
			<li id='first'  class='button active'>List</li>
			<li id='second' class='button'>Map</li>		
		</ul>
	</div>
	<div id='map'></div>
	<div id='smallstates' class='smallblocks'></div>
	<div id='container'></div>
	<div id='summary'>
	</div>
	<div class="interactive-source">Source: <a target="_blank" href='<%= sourcelink %>'><%= source %></a></div>
</div>